<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="com.example.*"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 会自动注册了validator ConversionService -->
	<mvc:annotation-driven />

	<mvc:default-servlet-handler />

	<mvc:view-controller path="user/toLogin" view-name="user/login"/>
	<mvc:view-controller path="user/toRegister" view-name="user/register"/>
	
	<!-- 拦截器配置 -->
	<mvc:interceptors>
	        <!-- 配置Token拦截器，防止用户重复提交数据 -->
	        <mvc:interceptor>
	            <mvc:mapping path="/**"/><!--这个地方时你要拦截得路径 我这个意思是拦截所有得URL-->
	            <bean class="com.example.interceptors.TokenInterceptor"/><!--class文件路径改成你自己写得拦截器路径！！ -->
	        </mvc:interceptor>
	</mvc:interceptors>
</beans>
